.page-nav {
    padding: 12px 0;
    &__ul {
        display: flex;
        max-width: 57%;
        list-style: none;
    }
    &__item {
        padding: 0 2%;
    }
    &__link {
        white-space: nowrap;
        @include font-geometria($transform: uppercase);
        text-decoration: none;
    }
}